<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>facebook-login or sign up</title>
    <link href="/output/output.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/templates/images/favicon.png" class="rounded-3xl h-10 w-10">

</head>
<body class="bg-gray-100">
    
    <div class="container mt-20 flex items-center justify-center">
        
        <div class="left mx-24 -my-60 "> 
            <img src="/templates/images/fb.svg" class="w-80 -mx-3" alt="facebook logo">
            <p class="text-xl sm:text-3xl mx-4 ">Connect with friends and the world</p>
            <p class="text-xl sm:text-3xl mx-4"> around you on Facebook.</p>
        </div>
        <div class="right relative flex flex-col  bg-white rounded-lg shadow-lg space-x-1 p-9 w-1/4">
            <input type="text" placeholder="Email or Phone number" class="outline-blue-600  m-1 p-4 h-14 w-80 my-2 border-2 border-gray-200 rounded-lg     active:border-b-blue-600">  
            <input type="password" placeholder="password" class="outline-blue-600 m-1 p-4 h-14 my-2 border-2 w-80 justify justify-start border-gray-200 rounded-lg  active:border-b-blue-600">
            <button type="button" class="bg-blue-600 rounded-lg p-3  cursor-pointer hover:bg-blue-800">
                <a href="/home" class="text-white text-2xl sm:text-2xl font-semibold  cursor-pointer  ">Log In</a>
            </button>
            <span id="#" class="m-4 align-middle text-blue-700 text-center justify justify-center cursor-pointer hover:underline ">Forgot password?</span>
            
            <hr class="m-1  border-gray-300 ">
        

        
            <button type="button" class="bg-green-500 mx-auto px-2 py-2 w-fit my-5 justify-baseline cursor-pointer rounded-xl hover:bg-green-600">
                <a href="/register" class="text-white text-2xl sm:text-2xl font-semibold  ">Create new account</a>
            </button>
          <span class="sp absolute -bottom-12 text-center "><span class="font-semibold hover:underline cursor-pointer">Create a Page</span> for a celebrity, brand or business.</span>


        
    </div>
 
    
    
</body>
</html>